<form action="/" method="post">
  <input class="add-todo__text" type="text" required value="" name="todo" placeholder="Whats on your mind...">
  <input class="add-todo__btn" type="submit" value="Add to do">
</form>