<main class="container">
  <section class="add-todo">
    
    <img src="images/simple_to_image.png" alt="Todo Image">
    <header class="add-todo__header">
      <h1 class="add-todo__title">SimpleTodo</h1>
        <%= erb :'todos/form'%>
      <p class="info">Crafted with love by: @peterayeni<p>
    </header>
  </section>

  <section class="list-todo">
    <div class="list-todo-content">
    
    <% if !@todos.blank? %>
      <% @todos.each do|t| %>
        <header class="list-todo__main">
          <article class="list-todo__content">
              <h3><%= t.todo %></h3>
              <p>Created at: <%= t.created_time %></p>
            </article>
            <aside class="list-todo__sidebar">
              <form action="/<%= t.id %>" method="post">
                <input type='hidden' name="_method" value="delete">
                <input class="list-todo__btn" type="submit" value="Delete">
              </form>
            </aside>
        </header>
      <% end %>
    <% else %>
      <header class="list-todo__empty">
        <img src="images/lazycat.png" alt="Todo Image">
        <h2 class="list-todo__title">You currently have notting todo</h2>
        <p class="list-todo__content">Get busy mate</p>
      </header>
    <%end%>

  
    </div>
  </section>
</main>